<!DOCTYPE html>
<html>
<head>
  <title>prevent strangers from hacking into your accounts now</title>
</head>
<body>
  <h1>Emergency password checkr</h1>

  <p>* This is a secure website *</p>

  <%= yield %>
  
  <p>&copy; copywrite DT - don't steal my code you nerds!</p>
</body>
</html>